<div class="p-d-flex p-jc-center p-ai-center" [style]="{height:'80vh'}">
	<form
		[formGroup]="form"
		autocomplete="off"
		class="p-fluid p-formgrid p-grid p-ml-3 p-mr-3 animate__animated animate__fadeIn animate__fast card custom-card p-p-4"
		[style]="{ background: 'white' }"
		(ngSubmit)="onSubmit()"
	>
          <span
						class="p-input-icon-left p-jc-center p-ai-center p-ac-center p-d-flex p-flex-column"
					><h3 class="text-center">Iniciar sesión</h3></span
					>
		
		<div class="p-col-12 p-field">
			<label>E-mail</label>
			<div class="p-input-icon-right">
				<input
					type="email"
					formControlName="email"
					autocomplete="off"
					placeholder="Ej. micorreo@gmail.com"
					pInputText
				/>
				<i
					*ngIf="validatorService.validCheck(form, 'email')"
					class="p-success bi bi-check2"
				></i>
			</div>
			<span
				class="p-error"
				*ngIf="validatorService.validField(form, 'email')"
			>
              Debe digitar un e-mail para iniciar sesión</span
			>
		</div>
		
		<div class="p-col-12 p-field">
			<label>Contraseña</label>
			<div class="p-input-icon-right">
				<input
					type="password"
					formControlName="password"
					autocomplete="off"
					placeholder="●●●●●●"
					pInputText
				/>
				<i
					*ngIf="validatorService.validCheck(form, 'password')"
					class="p-success bi bi-check2"
				></i>
			</div>
			<span
				class="p-error"
				*ngIf="validatorService.validField(form, 'password')"
			>
              Debe digitar una contraseña para iniciar sesión</span
			>
		</div>
		
		<div
			class="p-col-12 p-mt-4 text-center p-jc-center p-ai-center p-ac-center p-d-flex p-flex-column p-fluid"
		>
			<button
				pButton
				class="p-button-lg"
				type="button"
				label="Ingresar"
				(click)="onSubmit()"
				[disabled]="form.invalid"
				NoDblClick
			></button>
		</div>
	</form>
</div>