<div class="p-d-flex p-jc-center container" [ngStyle]="{'height': height + 'px'}">
	<div class="p-d-flex p-flex-column p-as-center">
		<div class="p-mb-2">
			<img [src]="image" onError="this.src='assets/layout/images/empty.png'" style="height: 200px">
		</div>
		<div class="p-mb-2 title" *ngIf="title">
			{{title}}
		</div>
		<div class="p-mb-2 subtitle" *ngIf="subtitle">
			{{subtitle}}
		</div>
		<div class="p-mt-2" *ngIf="showBackButton">
            <button pButton pRipple type="button" label="Salir de acá" (click)="back($event)"></button>
		</div>
		<div class="p-mt-4" *ngIf="showLogoutButton">
			<a href="#" (click)="logOut($event)">
				<i class="pi pi-fw pi-sign-out"></i>
				<span>Cerrar sesión</span>
			  </a>
		</div>

	</div>
</div>