<div class="not-found-bg p-d-flex p-jc-center p-ai-center">
  <div class="text-center" *ngIf="!loading">
    <img src="../../assets/layout/images/ux/error-text.png" alt="" />
    <div>
      <h3>Lo sentimos mucho</h3>
      <p>Algo anda mal</p>
      <p>Estamos teniendo problemas técnicos, lo solucionaremos pronto</p>
      <p-button
        label="Reintentar"
        routerLink="/app/dashboard"
        NoDblClick
      ></p-button>
    </div>
  </div>
  <app-loading *ngIf="loading"></app-loading>
</div>
