@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media (max-width: 992px) {
  .hide-mobile{
    display:none!important;
  }
}

@media (max-width: 375px) {
  .scan img{
    width: 12rem;
  }
}

html{
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body{
  min-height: 98%;
}

@media (max-width: 335px) {
  .padded {
    width: 125vw;
  }
}

.full-vh {
  height: 90vh;
}

.error-img{
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.grey-bg {
  background-color: #f3f3f3 !important;
}

.custom-card {
  border-color: #ebeef2;
  border-radius: 6px;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
}

.br-6{
  border-radius: 6px;
}

.p-success{
  font-size: 18px!important;
  color: green!important;
  margin-top: -0.8rem!important;
}

.text-center{
  text-align:center!important;
}

.img-perfil {
  display: block;
  padding: 10%;
  box-shadow: 10px 10px 15px #ccc;
  max-width:100%;
  height:auto;
}

img-visit{
  display: block;
  padding: 10%;
  max-width:100%;
  height:auto;
}

@media only screen and (max-width: 800px){
  #form-profile{
      display: block;
  }

  #form-profile > div{
      width: 100%;
  }
}

.status-badge {
  border-radius: 5px;
  padding: .25em .5rem;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .3px;

  &.Reservado {
    background: #c0defc !important;
    color: #0084c0 !important;
  }

  &.Finalizado {
    background: #66d09b96;
    color: #009759;
  }

  // En Préstamo
  &.En {
    background: #ff7f9f61;
    color: #fa5981;
  }
}

.aprove-badge{
  border-radius: 5px;
  padding: .25em .5rem;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .3px;

  &.Reservados {
    background: #66d09b96;
    color: #009759;
  }

  &.Finalizados {
    background: #ff7f9f61;
    color: #fa5981;
  }
}

.custom-chip {
  padding: 0.375rem 0.75rem;
  margin-right: 0.5rem;
  background: #EEF2FF;
  color: #312E81;
  border-radius: 0.375rem;
}

.p-fileupload-row .p-button-icon-only{
  padding: 0.75rem!important;
}

.pointer{
  cursor: pointer;
}