<div class="card p-mt-4">
	<app-loading
		*ngIf="loading"
	 	class="p-d-flex p-ai-center p-jc-center"
	 	style="height: 80%"
	></app-loading>
	<form
		*ngIf="!loading"
		#form="ngForm"
		autocomplete="off"
		class="p-fluid p-formgrid p-grid p-formgrid-sm p-ml-2 p-mr-2"
	>
		<div class="p-field p-col-12">
			<label>Nombre:</label>
			<div class="p-input-icon-right">
				<input name="name" [(ngModel)]="name" placeholder="Ej. Crónicas de Narnia" pInputText/>
			</div>
		</div>
		
		<div class="p-field p-col-12 p-mt-2">
			<label>Área:</label>
			<p-multiSelect [options]="areaSelect.areas" [(ngModel)]="areaSelect.selectedArea" (onFilter)="areaSelect.areaFilter($event)" (onChange)="areaSelect.areaChange($event)" [showToggleAll]="false"
										 name="selectedArea" defaultLabel="Elige un área" optionLabel="nombre" optionValue="id_Area"
										 [showClear]="true" [resetFilterOnHide]="true" emptyFilterMessage="No se encontraron áreas" emptyMessage="No se encontraron áreas"
			>
			</p-multiSelect>
		</div>
		
		<div class="p-field p-col-12 p-sm-6 p-mt-2">
			<label>Tipo:</label>
			<p-multiSelect [options]="typeCollectionSelect.types" [(ngModel)]="typeCollectionSelect.selectedType" (onFilter)="typeCollectionSelect.typeFilter($event)" (onChange)="typeCollectionSelect.typeChange($event)" [showToggleAll]="false"
										 #typeCollectionMultiSelect name="selectedType" defaultLabel="Elige un tipo" optionLabel="tipoColeccion1" optionValue="id_tipoColeccion"
										 [showClear]="true" [resetFilterOnHide]="true"
			>
				<ng-template let-group pTemplate="emptyfilter">
					<button pButton pRipple type="button" class="p-button-primary" label="Agregar '{{typeCollectionSelect.typeText}}'" (click)="typeCollectionSelect.addType(typeCollectionMultiSelect)"></button>
				</ng-template>
			</p-multiSelect>
		</div>
		
		<div class="p-field p-col-12 p-sm-6 p-mt-2">
			<label>Género:</label>
			<p-multiSelect [options]="genreSelect.genres" [(ngModel)]="genreSelect.selectedGenre" (onFilter)="genreSelect.genreFilter($event)" (onChange)="genreSelect.genreChange($event)" [showToggleAll]="false"
										 #genreMultiSelect name="selectedGenre" defaultLabel="Elige un género" optionLabel="generoColeccion1" optionValue="id_generoColeccion"
										 [showClear]="true" [resetFilterOnHide]="true"
			>
				<ng-template let-group pTemplate="emptyfilter">
					<button pButton pRipple type="button" class="p-button-primary" label="Agregar '{{genreSelect.genreText}}'" (click)="genreSelect.addGenre(genreMultiSelect)"></button>
				</ng-template>
			</p-multiSelect>
		</div>
		
		<div class="p-col-12 p-grid p-mt-4 p-ml-0 p-mr-0 p-pl-0 p-pr-0">
			<div class="p-field" [ngClass]="{'p-col-6 p-sm-9': user.id_rolUsuario === SUPER_ADMIN && !isNew, 'p-col-12': isNew || user.id_rolUsuario !== SUPER_ADMIN}">
				<button [loading]="addLoading" pButton pRipple type="button" class="p-button-success" [label]="isNew | addOrEdit" (click)="add()" [disabled]="!formIsValid"></button>
			</div>
			
			<div class="p-field p-col-6 p-sm-3" *ngIf="user.id_rolUsuario === SUPER_ADMIN && !isNew">
				<button [loading]="deleteLoading" pButton pRipple type="button" class="p-button-danger" label="Eliminar" icon="pi pi-trash" (click)="delete()"></button>
			</div>
		</div>
	</form>
</div>
