<div class="p-mt-4">
  <table-card
      [reloading]="loading"
      [globalFilter]="globalFilter"
      [rows]="rows"
      (onLazyLoad)="onLazyLoad($event)"
      (onRowSelect)="onRowSelect($event)"
      [pagination]="pagination"
      [loading]="loading"
      [cols]="cols"
      [list]="list"
      [showNewButton]="user.id_rolUsuario !== USER"
      (onNewClick)="onNew()"
      newButtonLabel="Nuevo Ejemplar"
      type="ejemplares"
    >
      <ng-template
        pTemplate="body"
        let-table="table"
        let-columns="columns"
        let-data="rowData"
      >
        <td *ngFor="let col of columns"
            [ngSwitch]="col.field"
            [style.width.px]="col.width"
            class="text-center">

          <ng-container *ngSwitchCase="'imagen'">
            <img [src]="data?.imagen" style="height:10rem"/>            
          </ng-container>

          
          <ng-container *ngSwitchCase="'EDITORIAL.editorial'">
            {{ data?.EDITORIAL?.editorial1 | titlecase }}
          </ng-container>

          <ng-container *ngSwitchCase="'FORMATOEJEMPLAR.formato'">
            {{ data?.FORMATOEJEMPLAR?.formato | titlecase }}
          </ng-container>

          <ng-container *ngSwitchCase="'IDIOMAEJEMPLAR.idioma'">
            {{ data?.IDIOMAEJEMPLAR?.idioma | titlecase }}
          </ng-container>

          <ng-container *ngSwitchCase="'COLECCION.nombre'">
            {{ data?.COLECCION?.nombre | titlecase }}
          </ng-container>

          <ng-container *ngSwitchDefault>
            {{ data[col.field] }}
          </ng-container>
        </td>
    </ng-template>
  </table-card>
</div>
