<div class="p-mt-4">
    <table-card
       [reloading]="loading"
       [globalFilter]="globalFilter"
       [rows]="rows"
       (onLazyLoad)="onLazyLoad($event)"
       (onRowSelect)="onRowSelect($event)"
       [pagination]="pagination"
       [loading]="loading"
       [cols]="cols"
       [list]="list"
       [showNewButton]="user.id_rolUsuario !== USER"
       (onNewClick)="onNew()"
       newButtonLabel="Nuevo Ejemplar"
       type="ejemplares"
     >
       <ng-template
         pTemplate="body"
         let-table="table"
         let-columns="columns"
         let-data="rowData"
       >
         <td *ngFor="let col of columns"
             [ngSwitch]="col.field"
             [style.width.px]="col.width"
             class="text-center">

           <ng-container *ngSwitchCase="'imagen'">
             <img [src]="data?.imagen | photo" style="height:8rem" />
           </ng-container>

           <ng-container *ngSwitchCase="'f_publicacion'">
             {{ data?.f_publicacion | date:'dd-MM-yyyy' }}
           </ng-container>

           <ng-container *ngSwitchCase="'EDITORIAL.editorial1'">
             {{ data?.EDITORIAL?.editorial1 | titlecase }}
           </ng-container>

           <ng-container *ngSwitchCase="'FORMATOEJEMPLAR.formato'">
             {{ data?.FORMATOEJEMPLAR?.formato | titlecase }}
           </ng-container>

           <ng-container *ngSwitchCase="'IDIOMAEJEMPLAR.idioma'">
             {{ data?.IDIOMAEJEMPLAR?.idioma | titlecase }}
           </ng-container>

           <ng-container *ngSwitchCase="'COLECCION.nombre'">
             {{ data?.COLECCION?.nombre | titlecase }}
           </ng-container>

           <ng-container *ngSwitchCase="'autorE'">
             <div *ngFor="let author of data.AUTORxEJEMPLAR" class="custom-chip p-mr-0 p-mb-2" [style]="{background: '#FFDEE9', color: '#704050'}">
               <span class="custom-chip-label"> {{ author?.AUTOR?.nombre }} </span>
             </div>
           </ng-container>
					 
					 <ng-container *ngSwitchCase="'p_clave'">
             <div *ngFor="let keyword of data.P_CLAVE" class="custom-chip p-mr-0 p-mb-2">
							 <span class="custom-chip-label">{{ keyword?.p_clave }}</span>
             </div>
           </ng-container>

           <ng-container *ngSwitchCase="'etiqueta_E'">
             <div *ngFor="let e of data.ETIQUETASxEJEMPLAR" class='custom-chip p-mr-0 p-mb-2' [style]="{background: '#EAE0FF', color: '#694382'}">
               <span class="custom-chip-label"> {{ e?.etiqueta }}</span>
             </div>
           </ng-container>

           <ng-container *ngSwitchDefault>
             {{ data[col.field] }}
           </ng-container>
         </td>
     </ng-template>
   </table-card>
  </div>
