<div class="card p-mt-4">
    <app-loading *ngIf="loading"
                 class="p-d-flex p-ai-center p-jc-center"
                 style="height: 80%"></app-loading>
    <form *ngIf="!loading"
          #form="ngForm"
          autocomplete="off"
          class="p-fluid p-formgrid p-grid p-formgrid-sm p-ml-2 p-mr-2">

      <div class="p-field p-col-8">
        <label>Nombre del evento:</label>
        <div class="p-input-icon-right">
          <input name="title" [(ngModel)]="title" placeholder="Ej. Charla 'Uso correcto aplicación BINAES' " pInputText />
        </div>
      </div>
	
			<div class="p-field p-col-4">
				<label>Capacidad del evento:</label>
				<p-inputNumber pTooltip="La capacidad depende del área" tooltipPosition="top"
					name="capacity" [(ngModel)]="capacity" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="1000" [disabled]="true"></p-inputNumber>
			</div>

      <div class="p-field p-col-6 p-mt-2">
        <label>Área:</label>
        <p-multiSelect [options]="areas" [(ngModel)]="selectedArea" (onFilter)="areaFilter($event)" (onChange)="areaChange($event)" [showToggleAll]="false"
                                    #areaMultiSelect name="selectedArea" defaultLabel="Elige un área" optionLabel="nombre" optionValue="id_Area"
                                    [showClear]="true" [resetFilterOnHide]="true">
            <ng-template let-group pTemplate="emptyfilter">
                <button pButton pRipple type="button" class="p-button-primary" label="Agregar '{{areaText}}'" [disabled]="true"></button>
            </ng-template>
        </p-multiSelect>
    </div>
		
		<div class="p-field p-col-4 p-mt-2" [ngClass]="{'p-col-6': isNew}">
			<label>Rango de fechas:</label>
			<p-calendar selectionMode="range" name="dates" dateFormat="dd/mm/yy" placeholder="Elige un rango de fechas para tu evento" [disabledDates]="disabledDates"
									[(ngModel)]="dates" [minDate]="minDate" [maxDate]="maxDate" (onSelect)="onDateChange()" [selectOtherMonths]="true"></p-calendar>
		</div>

		<div class="p-field p-col-2 p-mt-2" *ngIf="!isNew">
			<label>Estado:</label>
			<input type="text" pInputText name="eventStatus" [(ngModel)]="readableStatus" [disabled]="true">
		</div>
	
		<div class="p-field p-col-12 p-mt-2">
			<label>Logo del evento:</label>
			<p-fileUpload name="demo[]" chooseLabel="Agregar" invalidFileTypeMessageSummary="{0}: Este formato de archivo no es válido." invalidFileTypeMessageDetail="tipos válidos: {0}"
										(onSelect)="onSelectFile($event)" (onUpload)="onUpload($event)" [showUploadButton]="false" [showCancelButton]="false" accept="image/png">
				<ng-template pTemplate="content">
					<img *ngIf="uploadedFile[0] && !selectedfiles[0]" src="{{ uploadedFile[0] | photo }}" alt="{{uploadedFile[0] ?? 'No disponible'}}" style="height:10em" class="p-ml-2"/>
				</ng-template>
			</p-fileUpload>
		</div>
	
		<div class="p-col-12 p-mb-2">
			<p-tabView [scrollable]="objectives.length >= 6" *ngIf="!loadingObjectives" >
				<p-tabPanel header="Objetivo {{i+1}}" *ngFor="let objective of objectives; let i = index" [selected]="i === 0">
					<div class="p-inputgroup">
						<textarea pInputTextarea required placeholder="Ej. 'Con este evento se busca lograr...'" [name]="objective.Objetivo"
							[(ngModel)]="objective.Objetivo" [ngModelOptions]="{standalone: true}"
							[style]="{
								borderTopLeftRadius: '6px',
								borderBottomLeftRadius: '6px'
							}"
						></textarea>
						<button pButton type="button" [disabled]="objective?.Objetivo?.length === 0"
										(click)="addObjective(objective?.Objetivo ?? '', objective?.id_Objetivo)"
						> Editar </button>
						<button *ngIf="user.id_rolUsuario === SUPER_ADMIN" pButton type="button" class="p-button-danger"
										(click)="deleteObjective(objective?.id_Objetivo)"
						> Eliminar </button>
					</div>
				</p-tabPanel>
				<p-tabPanel header="Nuevo objetivo" [disabled]="isNew" pTooltip="{{isNew ? 'Se debe registrar el evento primero' : ''}}" tooltipPosition="top">
					<div class="p-inputgroup">
						<textarea pInputTextarea required placeholder="Ej. 'Con este evento se busca lograr...'" name="objective"
							[(ngModel)]="objective" [ngModelOptions]="{standalone: true}"
							[style]="{
								borderTopLeftRadius: '6px',
								borderBottomLeftRadius: '6px'
							}" [disabled]="isNew" pTooltip="{{isNew ? 'Se debe registrar el evento primero' : ''}}" tooltipPosition="top"
						></textarea>
						<button pButton type="button" [disabled]="objective?.length === 0" (click)="addObjective(objective)" [disabled]="isNew"
										pTooltip="{{isNew ? 'Se debe registrar el ejemplar primero' : ''}}" tooltipPosition="top"> Agregar </button>
					</div>
				</p-tabPanel>
			</p-tabView>
		</div>
	
		<div class="p-col-12 p-grid p-mt-2 p-mt-2 p-ml-0 p-mr-0 p-pl-0 p-pr-0">
			<div [ngClass]="{'p-col-6 p-sm-9': user.id_rolUsuario === SUPER_ADMIN && !isNew, 'p-col-12': isNew || user.id_rolUsuario !== SUPER_ADMIN}">
				<button [loading]="addLoading" pButton pRipple type="button" class="p-button-success" [label]="isNew | addOrEdit" (click)="add()" [disabled]="!formIsValid"></button>
			</div>
  
			<div class="p-field p-col-6 p-sm-3" *ngIf="user.id_rolUsuario === SUPER_ADMIN && !isNew">
				<button [loading]="deleteLoading" pButton pRipple type="button" class="p-button-danger" label="Eliminar" icon="pi pi-trash" (click)="delete()"></button>
			</div>
		</div>
	</form>
</div>
  
  
