<div class="p-mt-4">
	<table-card
		[reloading]="loading"
		[globalFilter]="globalFilter"
		[rows]="rows"
		(onLazyLoad)="onLazyLoad($event)"
		(onRowSelect)="onRowSelect($event)"
		[pagination]="pagination"
		[loading]="loading"
		[cols]="cols"
		[list]="list"
		[showNewButton]="user.id_rolUsuario !== USER"
		(onNewClick)="onNew()"
		newButtonLabel="Nuevo evento"
		type="eventos"
	>
		<ng-template
			pTemplate="body"
			let-table="table"
			let-columns="columns"
			let-data="rowData">
			<td
				*ngFor="let col of columns"
				[ngSwitch]="col.field"
				[style.width.px]="col.width"
				class="text-center">

				<ng-container *ngSwitchCase="'imagen'">
					<img [src]="data?.imagen | photo" style="height:8rem" />
				</ng-container>

				<ng-container *ngSwitchCase="'titulo'">
					{{ data?.titulo | titlecase }}
				</ng-container>				
				
				<ng-container *ngSwitchCase="'AREA.nombre'">
					{{ data?.AREA?.nombre | titlecase }}
				</ng-container>

				<ng-container *ngSwitchCase="'capacidad'">
					{{ data?.capacidad }}
				</ng-container>
				
				<ng-container *ngSwitchCase="'aprobado'">
					<div class='text-center'>
						<span class="'p-pt-1 p-pb-1 aprove-badge {{ data?.aprobado ? 'Reservado' : 'Finalizado'}}s">{{ data?.aprobado ? 'Reservado' : 'Finalizado'}}s</span>
					</div>
				</ng-container>
				
				<ng-container *ngSwitchCase="'fh_Inicio'">
					{{ data?.fh_Inicio | date:'dd-MM-yyyy' }}
				</ng-container>

                <ng-container *ngSwitchCase="'fh_Finalizacion'">
					{{ data?.fh_Finalizacion | date:'dd-MM-yyyy' }}
				</ng-container>

				<ng-container *ngSwitchDefault>
					{{ data[col.field] }}
				</ng-container>
			</td>
		</ng-template>
	</table-card>
</div>

