<div [style]="{width: '100%', height: '100vh', background: '#4F46E5'}" class="p-d-flex p-ai-start p-jc-start">
	<div class="card custom-card p-ml-4 p-mt-4 p-mr-4" [style]="{width: '100%'}">
		<h3>Documentación del proyecto</h3>
		<p>Este proyecto fue desarrollado como requisito para la materia Programación Orientada a Objetos en la UCA.</p>
		<p>Esta versión es desplegada para que los estudiantes involucrados puedan mostrar sus habilidades al público.</p>
		<p>La aplicación tiene distintos niveles de acceso según el tipo de usuario (Súper Administrador, Administrador y Usuario).</p>
		<p>Para hacer pruebas, considerar:</p>
		<ul>
			<li>Súper Administrador: rblanco@binaes.com.sv | Contraseña: 123456</li>
			<li>Administrador: rmarenco@binaes.com.sv | Contraseña: 12345</li>
			<li>Usuario: cvilleda@gmail.com | Contraseña: 12345</li>
		</ul>
		<h5>Notas:</h5>
		<p>No se recomienda eliminar alguno de estos tres usuarios, pues son los que tienen información rellena en el sitio, de eliminarlos se vaciaría el entorno de pruebas.</p>
		<p>Considerar crear un usuario de cada tipo disponible (Administrador y Usuario) para hacer pruebas en las que involucre eliminar información.</p>		<br>
		<p>Para acceder al sitio <a [routerLink]="routeInformation.loginPage">hacer click aquí</a>.</p>
		<p>Sin más que agregar, espero que lo disfrutes :)</p>
		<h5>Autor: Fernando Blanco.</h5>
	</div>
</div>
