<div class="card p-mt-4">
  <app-loading *ngIf="loading"
               class="p-d-flex p-ai-center p-jc-center"
               style="height: 80%"></app-loading>
  <form *ngIf="!loading" autocomplete="off"
        class="p-fluid p-formgrid p-grid p-formgrid-sm p-ml-2 p-mr-2">
    <div class="p-inputgroup p-mt-0" id="form-profile">
      <div class="p-col-6">
        <h5 class="p-mb-1">Nombre:</h5>
        <div class="p-inputgroup p-mt-0">
          <div class="card p-col-12 p-pt-3 p-pb-3" style="background: #958FDF; ">
            <div class="p-field p-col-6 p-mt-3">
              <div class="p-input-icon-right" style="color: #ffffff;">
                <h4>{{ name }}</h4>
              </div>
            </div>
          </div>
        </div>
        <h5 class="p-mb-1">Email:</h5>
        <div class="p-inputgroup p-mt-0">
          <div class="card p-col-12 p-pt-3 p-pb-3" style="background: #958FDF; ">
            <div class="p-field p-col-6 p-mt-3">

              <div class="p-input-icon-right" style="color: #ffffff;">
                <h4>{{ email }}</h4>
              </div>
            </div>
          </div>
        </div>
        <h5 class="p-mb-1">Teléfono:</h5>
        <div class="p-inputgroup p-mt-0">
          <div class="card p-col-12 p-pt-3 p-pb-3" style="background: #958FDF; ">
            <div class="p-field p-col-6 p-mt-3">

              <div class="p-input-icon-right" style="color: #ffffff;">
                <h4>{{ telefono }}</h4>
              </div>
            </div>
          </div>
        </div>
        <h5 class="p-mb-1">Ocupación:</h5>
        <div class="p-inputgroup p-mt-0">
          <div class="card p-col-12 p-pt-3 p-pb-3" style="background: #958FDF; ">
            <div class="p-field p-col-6 p-mt-3">

              <div class="p-input-icon-right" style="color: #ffffff;">
                <h4>{{ ocupacion }}</h4>
              </div>
            </div>
          </div>
        </div>
        <h5 class="p-mb-1">Dirección:</h5>
        <div class="p-inputgroup p-mt-0">
          <div class="card p-col-12 p-pt-3 p-pb-3" style="background: #958FDF; ">
            <div class="p-field p-mt-3">

              <div class="p-input-icon-right" style="color: #ffffff;">
                <h4>{{ direccion }}</h4>
              </div>
            </div>
          </div>
        </div>
        <h5 class="p-mb-1">Institucion:</h5>
        <div class="p-inputgroup p-mt-0">
          <div class="card p-col-12 p-pt-3 p-pb-3" style="background: #958FDF; ">
            <div class="p-field p-mt-3">
              <div class="p-input-icon-right" style="color: #ffffff;">
                <h4>{{ institucion }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-col-6 p-d-flex p-ai-center p-jc-center">
        <!--<p-image src="{{ image }}" imageClass="img-perfil" alt="Image" [preview]="true"></p-image>-->
        <qr-code class="img-perfil" [value]="id.toString()" [size]="200"></qr-code>
      </div>
    </div>
    <div class="p-field p-col-12 p-mt-4">
      <h5 class="p-mb-1">Contraseña Actual:</h5>
      <div class="p-input-icon-right">
        <input name="contrasenaA" class="p-pt-4 p-pb-4" [(ngModel)]="contrasenaA" type="password" autocomplete="off" placeholder="●●●●●●" pInputText />
      </div>
      <h5 class="p-mb-1">Contraseña Nueva:</h5>
      <div class="p-input-icon-right">
        <input name="contrasenaN" class="p-pt-4 p-pb-4" [(ngModel)]="contrasenaN" type="password" autocomplete="off" placeholder="●●●●●●" pInputText />
      </div>
      <h5 class="p-mb-1">Confirmar contraseña:</h5>
      <div class="p-input-icon-right">
        <input name="contrasenaC" class="p-pt-4 p-pb-4" [(ngModel)]="contrasenaC" type="password" autocomplete="off" placeholder="●●●●●●" pInputText />
      </div>
      <div class="p-col-12 p-mt-2">
        <button [loading]="addLoading" pButton pRipple type="button" class="p-button-success" label="Actualizar contraseña" (click)="updatePassword()" [disabled]="!formIsValid"></button>
      </div>
    </div>
  </form>
</div>

