<div class="card p-mt-4">
	<app-loading *ngIf="loading"
							 class="p-d-flex p-ai-center p-jc-center"
							 style="height: 80%"></app-loading>
	
	<form *ngIf="!loading" autocomplete="off"
				class="p-fluid p-formgrid p-grid p-formgrid-sm p-ml-2 p-mr-2">
		
		<div class="p-field p-col-12 p-mt-4">
			<label>Contraseña Actual:</label>
			<div class="p-input-icon-right">
				<input name="contrasenaA" [(ngModel)]="contrasenaA" type="password" autocomplete="off" placeholder="******" pInputText />
			</div>
		</div>
		
		<div class="p-field p-col-6 p-mt-2">
			<label>Contraseña Nueva:</label>
			<div class="p-input-icon-right">
				<input name="contrasenaN" [(ngModel)]="contrasenaN" type="password" autocomplete="off" placeholder="******" pInputText />
			</div>
		</div>
		
		<div class="p-field p-col-6 p-mt-2">
			<label>Confirmar contraseña:</label>
			<div class="p-input-icon-right">
				<input name="contrasenaC" [(ngModel)]="contrasenaC" type="password" autocomplete="off" placeholder="******" pInputText />
			</div>
		</div>
		
		<div class="p-col-12 p-mt-2">
			<button [loading]="addLoading" pButton pRipple type="button" class="p-button-success" label="Actualizar contraseña" (click)="updatePassword()" [disabled]="!formIsValid"></button>
		</div>
	
	</form>
</div>