<div
	[style]="{ height: '100vh', background: '#545094' }"
	class="p-d-flex p-flex-column animate__animated animate__fadeIn animate__fast"
>
	<app-loading
		*ngIf="loading"
		[style]="{ height: '80%' }"
		class="p-d-flex p-ai-center p-jc-center"
	></app-loading>
	<app-recover-card
		*ngIf="!loading"
		[state]="state"
		[style]="{ height: '90%' }"
		(actionEmail)="onSubmit($event)"
		[routeInformation]="routeInformation"
		class="p-d-flex p-ai-center p-jc-center animate__animated animate__fadeIn animate__fast"
	></app-recover-card>
</div>
